<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjh.note_blog.mapper.ArticleTypeMapper" >
  <resultMap id="BaseResultMap" type="com.cjh.note_blog.pojo.DO.ArticleType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="selectByAuthor" resultMap="BaseResultMap" >

    select aty.aid aid, aty.tid tid
    from article_type aty
    join article a on a.author = #{username} and a.id = aty.aid
    where aty.tid = #{tId}

  </select>
</mapper>